<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tabHomeEvents">
      <ion-icon name="school"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCreateEvent">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCheckInEvent">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Check-In</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
