<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="users">
    <div *ngFor="let user of users">
      <p>{{user.id}}: {{user.name}} : {{user.periodo}} : {{user.email}}</p>
    </div>
  </div>
</ion-content>
